.inscription{
    background: url("insc1.jpg");
    background-repeat: no-repeat;
    background-size: cover;


}	
.connex{
 
	background: url("conne2.jpg");
	background-repeat: no-repeat;
    background-size: cover;

}
    

input{
    width: 90%;
    height: 15mm;
    outline:none;
    background-color: transparent;
    color:#fff;
    border: none;
    border-bottom: 1px solid #fff;
    text-align: center;
    font-size: medium;
}
form {
        background :black;
        opacity: 60%;
        border-radius: 40px;
        margin-left: 120mm ;
        margin-right:120mm ;
        margin-top:50mm;
        padding:12px;
        
        text-align: center;
        position: relative;
    
        
    }

button{
    width: 20PX;
    height: 40px;
    color:#fff;
    background-color: transparent;
    width:30mm;
    cursor:pointer;
    border-radius:12px;
    
}
.msg1{
    background-color: black;
    color:rgb(25, 122, 25);
    font-size:smaller;
    
}
.msg2{
    background-color: black;
    color:rgb(192, 65, 65);
    font-size: larger;
    
}