body{
    background: url(gray.jpg);
    background-size: cover;

}

#connexion_form{
    background :black;
        opacity: 60%;
        border-radius: 40px;
        margin-left: 20% ;
        margin-right:20% ;
        margin-top:10%;
        margin-bottom:10%;
        padding:12px;
        height:auto;
        
        text-align: center;
        position: relative;
}
#title{
    width: 100%;
    height: 4vw;
    outline:none;
    background-color: transparent;
    color:#fff;
    border: none;
    border-bottom: 1px solid #fff;
    text-align: center;
    font-size: 1.5vw;
}

#body{
    width: 100%;
    height: 25vw;
    outline:none;
    background-color: transparent;
    color:#fff;
    border: none;
    border-bottom: 1px solid #fff;
    font-size: 1.5vw;
}

#submit{
    width: 20PX;
    height: 40px;
    color:#fff;
    background-color: transparent;
    width:30mm;
    cursor:pointer;
    border-radius:12px;
    
}