body{
  background: url(gray.jpg);
  background-size: cover;

}
#connexion_form{
    background :black;
        opacity: 60%;
        border-radius: 40px;
        margin-left: 30% ;
        margin-right:30% ;
        margin-top:10%;
        margin-bottom:10%;
        padding:12px;
        height:auto;
        
        text-align: center;
        position: relative;
}
#inputs{
    width: 80%;
    height: 3vw;
    outline:none;
    background-color: transparent;
    color:#fff;
    border: none;
    border-bottom: 1px solid #fff;
    text-align: center;
    font-size: medium;
}
#color{
    width: 40%;
    height: 3vw;
   



}
#radio{
  width: 10%;
  height: 2vw;
  
}
label,p{
  color:white;
  font-size:150%;
  font-family: "Times New Roman", Times, serif;

}
#submit{
    width: 20PX;
    height: 40px;
    color:#fff;
    background-color: transparent;
    width:30mm;
    cursor:pointer;
    border-radius:12px;
    
}